.employees-table {
    width: 100%;
    border-collapse: collapse;
    border: solid 3px $secondary-color;


    .employees-column-headers {
        color: $secondary-color;
        font-weight: 300;
        font-size: 2.0rem;
        border-bottom: solid 3px $secondary-color;

        @media(max-width: 1000px) {
            font-size: 20px;
        }

        @media(max-width: 630px) { // Add Side Scrolling
            font-size: 14px;
        }
    }


    .employees-rows {
        @media(max-width: 1000px) {
            font-size: 14px;
        }

        @media(max-width: 630px) { // Add Side Scrolling
            font-size: 10px;
        }
    }


    nav, tr {
        overflow:hidden;
        overflow-y:scroll;
    }


    td, th {
        border: 1px solid $secondary-color;
    }


    .employees-rows:nth-child(even){
        background-color: #b8b8b8;
    }


    .employees-rows:nth-child(odd){
        background-color: #dfdfdf;
    }
    

    .employees-rows:hover {
        background-color: rgb(194, 205, 255);
    }

    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }
}